body {
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #f4c2c2;
}
img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.btn {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  margin-bottom: 1rem;
  cursor: pointer;
}
#icon {
  display: none;
}
li {
  list-style: none;
  font-size: 15px;
}
#container {
  display: flex;
  flex-direction: row;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  border: solid 2px #333;
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
}
#container #user-data {
  align-self: center;
}
